{% extends "base.html" %}
<!-- setting.py에서 추가후 load가능 -->
{% load humanize %}
{% block header %}
<script>
    function product_delete(id) {
        $.ajax({
            url: "/api/product/" + id,
            type: 'DELETE',
            dataType: "json",
            data: {
                "user": "{{ request.session.user }}",
            },
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": getCookie("csrftoken"),
            },
            success: function (result) {
                location.reload();
            }
        });
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

<style>
    .table {
        border-collapse: collapse !important;
    }

    .table-light,
    .table-light>th,
    .table-light>td {
        background-color: #fdfdfe;
    }

    .table .thead-light th {
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .mt-5,
    .my-5 {
        margin-top: 3rem !important;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
{% endblock %}
{% block contents %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="">
                <table class="table table-hover" style="width: 100%;">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">상품명</th>
                            <th scope="col">가격</th>
                            <th scope="col">등록 날짜</th>
                            <th scope="col">종류</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="text-dark">
                        {% for product in product_list %}
                        <tr onclick="location.href='/product/{{ product.id }}/'">
                            <!-- <th scope="row">{{ product.id }}</th> -->
                            <!-- <th><a id="{{ product.id }}" href="/product/{{ product.id }}/">{{ product.name }}</a></th> -->
                            <th>{{ product.name }}</th>
                            <th>{{ product.get_category_display }}</th>
                            <!-- 3자리마다 .추가 -->
                            <!-- |가 humanize에 있는 필터를 사용하는것 -->
                            <th>{{ product.price|intcomma }}원</th>
                            <th>{{ product.creation_date|date:"Y-m-d H:i" }}</th>
                            <th><button value="{{ product.id}}" onclick="product_delete({{ product.id }});">삭제</button>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary form-control" onclick="window.location.href='/product/create/';">추가하기</button>
        </div>
    </div>
</div>

{% endblock %}